.body {
  background: linear-gradient(60deg, #414042, #053750);
  display: flex;
  flex-direction: row;
  padding: 32px;
  justify-content: center;
}

.resume {
  width: 1265.8px;
  height: auto;
  background-color: white;
}

.resume-header {
  height: 469.2px;
}

.resume-header-top {
  background-color: #6c705d;
  color: #e5e5e5;
  font-family: Inter;
  display: flex;
  height: 424.1px;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.resume-header-bottom {
  height: 45.1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume-header-bottom-box-1 {
  background: linear-gradient(4deg, white 50%, #6c705d 50%);
}

.resume-header-bottom-box-2 {
  background: linear-gradient(-4deg, white 50%, #6c705d 50%);
}

.resume-body {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.resume-body-column-left {
  display: flex;
  flex-direction: column;
  padding: 7%;
  gap: 32px;
}

.content-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 16px;
}

.grid-row div {
  text-align: start;
}

.grid-row input {
  width: 100%;
}

.resume-body-column-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 5%;
}

.resume-body-box {
  display: flex;
  padding: 10%;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  border-radius: 0.75em;
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.5);
}

.resume-footer-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resume-body-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.resume-body-content {
  font-size: 16px;
  text-align: center;
}

.resume-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.prof-pic {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background: radial-gradient(#ffffff 0%, #e6e6e6 100%);
}

.title-box {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content-category-title {
  border-bottom: 1px solid lightgray;
  font-weight: bolder;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.title {
  font-size: 46.72px;
}

.subtitle {
  font-size: 26.5px;
}

.resume-header-details {
  width: 1083px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.detail-title {
  font-size: x-large;
  font-weight: bolder;
}

.detail-subtitle {
  font-size: larger;
  font-weight: normal;
}

.resume-footer {
  height: 286.8px;
  background-color: #ca987e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.resume-footer-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume-footer-column-right,
.resume-footer-column-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 10%;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
}

/* Responsive Styling */
@media screen and (max-width: 767px) {
  .prof-pic {
    justify-self: center;
  }
  .grid-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .grid-row div {
    text-align: center;
  }

  .grid-row input {
    width: 100%;
  }

  .resume-header,
  .resume-header-top,
  .resume-header-title,
  .resume-header-details {
    height: fit-content;
    width: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .resume-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  .resume-header-top {
    padding-top: 48px;
  }

  .resume-body-title,
  .resume-body-content,
  .title,
  .subtitle,
  .detail-title,
  .detail-subtitle {
    font-size: large;
  }

  .resume-body-column-right {
    padding: 7%;
    padding-top: 16px;
  }

  .resume-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding: 15px;
  }

  .resume-footer-column-left,
  .resume-body-column-left {
    padding-bottom: 16px;
  }

  .resume-body-box,
  .resume-footer-column-right,
  .resume-footer-column-left {
    padding: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .prof-pic {
    justify-self: center;
  }
  .content-category {
    border: 1px solid lightgrey;
    padding: 16px;
    border-radius: 0.75em;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .grid-row {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 16px;
  }

  .grid-row div {
    text-align: end;
  }

  .resume-header-title,
  .resume-header-details {
    width: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .resume-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  .resume-header,
  .resume-header-top {
    height: fit-content;
  }

  .resume-header-top {
    padding-top: 48px;
  }

  .resume-body-title,
  .resume-body-content,
  .title,
  .subtitle,
  .detail-title,
  .detail-subtitle {
    font-size: large;
  }

  .resume-body-column-right {
    padding: 7%;
    padding-top: 16px;
  }

  .resume-footer,
  .resume-footer-column-left,
  .resume-footer-column-right,
  .resume-body-column-left,
  .resume-body-box {
    padding: 5%;
  }
}
